<app-navigation></app-navigation>
<app-page-title></app-page-title>

<div class="container">
  <div class="row text-center" [@cardAnimation]="(userResponse$ | async)?.data.length" @plusAnimation>
    <div class="col-xl-4 col-sm-6 mb-4"  *ngFor="let user of (userResponse$ | async)?.data">
      <app-user-card [userData]="user"></app-user-card>
    </div>
  </div>
  <app-pagination
    [totalPages]="(userResponse$ | async)?.total_pages"
    (pageSelection)="onPageSelection($event)"
  ></app-pagination>
</div>

