<div id="navbar-top">
  <div class="logo">
    <img class="logo-icon" src="assets/images/w.svg">
  </div>
  <div class="user">
    <div class="avatar-container">
      <img class="avatar" src="assets/images/doug.jpg">
    </div>
  </div>
  <div class="navbar-content">

    <ul class="items-list">
      <li>  <a href="https://github.com/douglasmario/wonderlabs-test" target="_blank"><i class="fa fa-github"></i></a></li>
      <li>  <a href="https://www.linkedin.com/in/douglasmario/" target="_blank"><i class="fa fa-linkedin"></i></a></li>
      <li>  <a href="mailto: douglasmario@hotmail.com"><i class="fa fa-envelope"></i></a></li>
    </ul>
  </div>
</div>

